#cliprov-screen-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cliprov-screen-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

#cliprov-screen-title {
	margin: auto;
	font-size: 50px;
	text-shadow: 5px 5px 10px black;
	color: white;
}

.cliprov-screen-input {
	width: 300px;
	height: 40px;
	margin-bottom: 14px;
	font-size: 20px;
	color: #301B52;
    font-family: "PostNoBillsJaffna-ExtraBold";
}

/*Button register*/
#register_CliProv_Btn {
	width: 300px;
	height: 50px;
	background-color: #307FE2;
	border: 0px;
    font-family: "PostNoBillsJaffna-ExtraBold";
	font-size: 25px;
	color: white;
	border-radius: 4px;
	margin: auto;
	transition: 0.3s;
}

#register_CliProv_Btn:hover, #register_CliProv_Btn:hover {
	border: 3px solid black;
}

