#configuration-screen-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#configuration-screen-container > h1 {
	margin: auto;
	color: white;
	text-shadow: 5px 5px 10px black;
	font-size: 50px;
}

#configuration-screen-subcontainer {
	background-color: rgba(196,196,196,0.3);
	width: 93%;
	height: 75%;
	margin: auto;
	border-radius: 10px;
	padding: 10px;
}

#configuration-screen-subcontainer-btns {
	width: 95%;
	display: flex;
	flex-direction: row;
	color: #5182FF;
	margin-bottom: 5px;
}

#warehouse-list-scroll {
	overflow-y: scroll;
	max-height: 100%;
}

#configuration-screen-subcontainer-btns > div {
	width: 50%;
	background-color: rgba(196,196,196,0.8);
	color: #993214;
	border-radius: 10px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	transition: 0.2s;
}

#configuration-screen-subcontainer-btns > div:hover {
	background-color: rgba(196,196,196,1);
}

#configuration-screen-subcontainer-btns > div > h1 {
	margin: 0px;
}

#backBtn {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 40px;
	text-align: center;
	width: 100px;
	height: 100px;
}

.float-window {
	background-color: #4F4066;
	box-shadow: 0px 0px 25px 10px black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60vw;
	height: 70vh;
	border-radius: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;

	visibility: hidden;
}

.float-window > div {
	margin: auto;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.float-window > h1 {
	position: absolute;
	left: 5%;
}

.float-window > div > input {
	margin: auto;
	margin-bottom: 10px;
	width: 100%;
	height: 40px;
}

.state-message {
	visibility: hidden;
}

#rack-list-container {
	width: 100%;
	overflow-y: scroll;
}

#rack-list-container > div {
	width: 95%;
}

.floating-inputs > input[type="button"] {
	background-color: #307FE2;
	border: 0px;
	color: white;
	border-radius: 4px;
	transition: 0.2s;
}

.floating-inputs > input[type="button"]:hover {
	border: 3px solid black;
}
