body {
    background-color:#301B52;
}

#main-container {
	display: flex;
	flex-direction: row;
}

#logo-container {
	/*background-color: green;*/
	width: 60vw;
	height: 100vh;

	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo-container > img {
	height: 350px;
	width: auto;
}

#login-gestapp-logo {
	margin: auto;
	width: 90%;
}

#form-container {
	/*background-color: red;*/
	width: 40vw;
	height: 100vh;
	
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#form-subcontainer {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	border-radius: 20px;

	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#form-login {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.input-login {
	width: 80%;
	height: 12%;
	margin-bottom: 29px;
}

#label-login {
	margin-bottom: 10%;
	text-align: center;
}

#login-btn {
	width: 27%;
}

@media (max-width: 992px) {
	#main-container {
		flex-direction: column;
	}

	#logo-container {
		width: 100vw;
		height: 10vh;
	}

	#form-container {
		width: 100vw;
		height: 90vh;
	}

	#login-gestapp-logo {
		width: auto;
		height:100%;
	}
}
