#menu-screen-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

.menu-screen-button {
	width: 290px;
	height: 140px;
	min-height: 134px;
	margin: auto;
	border-radius: 20px;

	display: flex;
	flex-direction: row;
	background-color: #9180AC;
	border: 0px;
	align-content: center;
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.25);
	transition: 0.2s;
}

.menu-screen-button:hover {
	width: 300px;
	height: 150px;
}

#menu-screen-configBtn {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 15px;
	transition: 0.2s;
	margin: auto;

	top: 90vh;
	left: 90vw;
}

#menu-screen-configBtn:hover {
	width: 55px;
	height: 55px;
}

#menu-screen-configBtn {
	background-color: #9180AC;
	border: 0px;
	padding-top: 4px;
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.25);
}

#menu-screen-configBtn > img {
	width: 100%;
	pointer-events: none;
}

.menu-screen-button > p {
	font-size: 38px;
	font-family: "PostNoBillsJaffna-ExtraBold";
	color: white;
	text-align: center;
	margin: auto;
	padding-top: 7px;
	height: 90%;
}

.menu-provider-btn > p {
	padding-top: 12px; 
}

.transactionAndLogs-menu-btn > p {
	padding-top: 25px;
	font-size: 30px;
}

.menu-screen-button > img {
	margin: auto;
	margin-left: 10px;
	height: 80%;
	pointer-events: none;
}
