#list-item-container {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #993214;
}

/*Configuration Logs*/
.cft-1 {
	height: 30px;
	overflow-y: hidden;
	background-color: rgba(196,196,196,0.8);
	transition: 0.2s;
	margin-top: 5px;
	margin-right: 8px;
	margin-left: 8px;
	border-radius: 8px;
}

.cft-1 > p, .cft-1 > div {
	pointer-events: none;
}

.cft-1:hover, .cft-1:focus {
	height: 175px;
}

.cft-2 {
	height: 100px;
	overflow-y: hidden;
	background-color: rgba(196,196,196,0.8);
	transition: 0.2s;
	margin-top: 5px;
	margin-right: 8px;
	margin-left: 8px;
	border-radius: 8px;
}

.cft-2 > div > p {
	font-size: 33px;
}

.cft-2 > p, .cft-2 > div {
	pointer-events: none;
}

.cft-2:hover, .cft-2:focus {
	background-color: rgba(196,196,196,1);
}

.cft-3 {
	min-height: 30px;
	overflow-y: hidden;
	background-color: rgba(196,196,196,0.8);
	transition: 0.2s;
	margin-top: 5px;
	margin-right: 8px;
	margin-left: 8px;
	border-radius: 8px;
}

.cft-3 > p, .cft-3 > div {
	pointer-events: none;
}

.cft-3:hover, .cft-3:focus {
	min-height: 175px;
}
/*---Configuration Logs---*/

.list-item-label > p {
	margin: 0px;
	margin-bottom: 5px;
}

.list-item-label {
	width: 80%;
}

.list-details-btn {
	font-size: 15px;
	margin: auto;
	margin-right: 15px;
	width: 10%;
}
